@charset "utf-8";

/* ラジオボタン */
.select_button_area {
    display: flex;/* ボタンの横幅揃え */
    justify-content: center;/* 要素中央揃え */
    border: none;
    padding: 0;
    margin: 30px auto;
}
input {
    display: none;
}
input:checked + label {
    background-color: #898989;
    color: #fff;
}
label {
    text-align: center;
    margin: 5px;
    width: 85px;
    height: 40px;
    padding: 3px;
    /* border: 2px solid #898989;*/
    border-radius: 5px;
    letter-spacing: 2px;
    
}
label:hover {
    background-color: #c9c9c9;
}

/* PC mobile 表示 */
.waku {
    width: 70%;
    margin: 20px auto;
}
.frame {
    height: 0;
    overflow: hidden;
}
.pc {
    height: 55vw;
    padding: 0 3%;
    background: no-repeat url("pc.png");
    background-size: contain;
    
}
.mobile {
    margin: 0 36%;
    height: 100%;
    padding: 0 1.4%;
    background: no-repeat url("mobile.png");
    background-size: 100% auto;
    /* ボタンで表示するため */
    display: none;
}
.pc .frame {
    height: 100%;
    padding-top: 4%;
}
.mobile .frame {
    height: 100%;
    padding-top: 14%;
}
iframe {
    transform-origin: 0 0;
    border: none;
}
.pc iframe {
    /*margin-top: -4.3%;*/
}
.mobile iframe {
    border-radius: 15px 15px 25px 25px;
}


/* レスポンシブ */

/*@media screen and (min-width: 1024px){
    div.select_button_area{
        display: none;
    }
}
@media screen and (max-width: 1023px){
    .mobile {
        display: none;
    }
}*/
